.app {
    margin: 0 12px;
}

.container{
    display: flex;
}

.app_sidebar {
    position: relative;
}   

.sidebar-list {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin: auto;
    position: sticky;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 8;
    align-items: center;
    
}

.sidebar-item {
    background-color: #ffff;
    border-radius: 16px;
    margin-top: 4px;
}



.sidebar-item:hover .sidebar-item__link {
    background-color: rgb(221, 221, 221, 0.4);
}

.sidebar-item__link {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 72px;
    width: 72px;
    justify-content: center;
    /* background-color: #ddd; */
}   

.sidebar-item__link--active {
    background-color: rgb(55, 55, 55, 0.2);
    color: var(--black-color);
}

.sidebar-item__link--active .sidebar-item__link--icon,
.sidebar-item__link:hover .sidebar-item__link--icon {
    color: var(--black-color    );
}

.sidebar-item__link--icon {
    font-size: 1.4rem;
    color: rgb(51, 51, 51, 0.8);
}

.sidebar-item__link span {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
}

/*------------- Home product--------------------------- */
.home-product {
    overflow: hidden;
    padding: 0 32px 74px;
}

.home-product__header {
    margin:24px 0 60px;
}

.home-product__header h2{
    color: #242424;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--text-color);
    margin: 16px auto 16px 0;
}

.home-product__header>p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-left: 8px;
}


.home-list {
    margin-bottom: 8px;
}

.home-list__header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.home-list__header--sumstudent {
    width: 100%;
    color: #666;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
}

.home-list__header--heading {
    color: #242424;
    font-size: 28px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--text-color);
    margin: 16px auto 16px 0;
}


.home-list__body {
    min-height: 200px;
    padding-bottom: 0;
}

.home-product__item {
    position: relative;
    overflow: unset;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.home-product__item:hover{
    transform: translateY(-5px);
    animation: transform ease-in 0.25s;
}

.product-item__link {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    flex: 1;
}

.product-item__link img {
    width: 100%;
    border-radius: 16px;
    height: 100%;
    
}

.product-item__title {
    font-weight: 600;
    margin: 12px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}

.product-item__icon {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    right: 24px;
    top: 4px;
    color: #f6cc66;
}

.product-item__price {
    display: flex;
    align-items: center;
}

.product-price__old {
    margin-right: 8px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-price__new {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.product-item__student {
    color: #666;
    font-size: 14px;
}

.product-item__student span {
    margin-left: 8px;
    font-weight: 400;
}
